{plugins, [rebar_erlydtl_compiler]}.

{lib_dirs, ["deps"]}.

{erl_opts, [
  debug_info,
  warn_format,
  warn_export_vars,
  warn_obsolete_guard,
  warn_bif_clash
]}.

{deps, [
  {lager, "", {git, "https://github.com/basho/lager.git", {branch, "HEAD"}}},
  {cowboy, "", {git, "https://github.com/extend/cowboy.git", {branch, "HEAD"}}},
  {mimetypes, "", {git, "https://github.com/dvv/mimetypes.git", {branch, "HEAD"}}},
  {stable, "", {git, "https://github.com/dvv/stable.git", {branch, "HEAD"}}},
%  {pmod_transform, "", {git, "https://github.com/erlang/pmod_transform.git", {branch, "HEAD"}}},
  {erlydtl, "", {git, "https://github.com/evanmiller/erlydtl.git", {branch, "HEAD"}}},
  {hackney, "", {git, "https://github.com/benoitc/hackney.git", {branch, "HEAD"}}},
  {gproc, "", {git, "https://github.com/uwiger/gproc.git", {branch, "HEAD"}}},
  {eredis, "", {git, "https://github.com/wooga/eredis.git", {branch, "HEAD"}}}
]}.

{erlydtl_opts, [
  {doc_root, "priv/templates"},
  {source_ext, ".html"},
  {module_ext, "_view"},
  {out_dir, "ebin"}
]}.

{cover_enabled, true}.
