{plugins, [rebar_erlydtl_compiler]}.

{lib_dirs, ["deps"]}.

{erl_opts, [
  debug_info,
  warn_format,
  warn_export_vars,
  warn_obsolete_guard,
  warn_bif_clash
]}.

{deps, [
  {lager, "", {git, "https://github.com/basho/lager.git", {branch, "HEAD"}}},
  {cowboy, "", {git, "https://github.com/extend/cowboy.git", {branch, "HEAD"}}},
  %{mimetypes, "", {git, "https://github.com/dvv/mimetypes.git", {branch, "HEAD"}}},
  {meck, "", {git, "https://github.com/eproxus/meck.git", {branch, "HEAD"}}},
  {jsx, "", {git, "https://github.com/talentdeficit/jsx.git", {branch, "HEAD"}}},
  {stable, "", {git, "https://github.com/dvv/stable.git", {branch, "HEAD"}}},
  {saddle, "", {git, "https://github.com/dvv/saddle.git", {branch, "HEAD"}}},
  {social, "", {git, "https://github.com/dvv/social.git", {branch, "HEAD"}}},
%  {hanoidb, "", {git, "https://github.com/Licenser/hanoidb.git", {branch, "HEAD"}}},
  {pmod_transform, "", {git, "https://github.com/erlang/pmod_transform.git", {branch, "HEAD"}}},
%  {erlmongo, "", {git, "https://github.com/wpntv/erlmongo.git", {branch, "HEAD"}}},
%  {epgsql, "", {git, "https://github.com/mabrek/epgsql.git", {branch, "HEAD"}}},
%  {eredis, "", {git, "https://github.com/wooga/eredis.git", {branch, "HEAD"}}},
%  {sheriff, "", {git, "https://github.com/extend/sheriff.git", {branch, "HEAD"}}},
  {jiffy_v, "", {git, "https://github.com/dvv/jiffy-v.git", {branch, "HEAD"}}},
  {erlydtl, "", {git, "https://github.com/evanmiller/erlydtl.git", {branch, "HEAD"}}}
]}.

{erlydtl_opts, [
  {doc_root, "priv/templates"},
  {source_ext, ".html"},
  {module_ext, "_view"},
  {out_dir, "ebin"}
]}.

{cover_enabled, true}.
