{lib_dirs, ["deps"]}.

{erl_opts, [
  debug_info,
  warn_format,
  warn_export_vars,
  warn_obsolete_guard,
  warn_bif_clash
]}.

{deps, [
  {cowboy, "", {git, "https://github.com/extend/cowboy.git", {branch, "HEAD"}}},
  {mimetypes, "", {git, "https://github.com/spawngrid/mimetypes.git", {branch, "HEAD"}}},
  {jsx, "", {git, "https://github.com/talentdeficit/jsx.git", {branch, "HEAD"}}},
  {stable, "", {git, "https://github.com/dvv/stable.git", {branch, "HEAD"}}},
  {saddle, "", {git, "https://github.com/dvv/saddle.git", {branch, "HEAD"}}},
  {social, "", {git, "https://github.com/dvv/social.git", {branch, "HEAD"}}},
  %{hanoidb, "", {git, "https://github.com/Licenser/hanoidb.git", {branch, "HEAD"}}},
  %{edis, "", {git, "https://github.com/inaka/edis.git", {branch, "HEAD"}}},
  {jiffy_v, "", {git, "https://github.com/dvv/jiffy-v.git", {branch, "HEAD"}}},
  {erlydtl, "", {git, "https://github.com/evanmiller/erlydtl.git", {branch, "HEAD"}}}
]}.

%{erlydtl_opts, [
%  {doc_root, "priv/templates"},
%  {source_ext, ".html"},
%  {module_ext, "_view"},
%  {out_dir, "ebin"}
%]}.

{cover_enabled, true}.
