[

{lager, [
  {handlers, [
    {lager_console_backend, info},
    {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
    {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
  ]}
]},

{oauth2, [
  {backend, oauth2_saddle},
  {token_generation, oauth2_saddle}
]},

{pecypc, [

  % session options
  {session, {cowboy_cookie_session, {
      <<"sid">>,                  % cookie name
      <<"tOpcekpet-change-me!">>, % encryption secret
      120,                        % cookie time-to-live in seconds
      <<"/">>}}                   % cookie path
  },

  % bearer authorization options
  {bearer, {
      <<"tOpcekpet-change-me!">>, % encryption secret
      120}                        % time-to-live in seconds
  },

  % providers
  {social_providers, [
    {<<"native">>, [
      {client_id, <<"dvv">>},
      {client_secret, <<"dvv">>},
      {callback_uri, <<"/auth/native/callback">>},
      {scope, <<"*">>},
      {authorize_uri, <<"https://a6cypg.hopto.org/oauth2">>},
      {token_uri, <<"https://a6cypg.hopto.org/oauth2">>}
    ]},
    {<<"facebook">>, [
      {client_id, <<"155391687957946">>},
      {client_secret, <<"354650d6d89fea0e66dcf03823663212">>},
      {callback_uri, <<"/auth/facebook/callback">>},
      {scope, <<"email">>},
      {authorize_uri, <<"https://www.facebook.com/dialog/oauth">>},
      {token_uri, <<"https://graph.facebook.com/oauth/access_token">>}
    ]},
    {<<"github">>, [
      {client_id, <<"883b68d607abddc24f77">>},
      {client_secret, <<"266ab75178e06ab232b7a94ad08ca3f26e9cf3cc">>},
      {callback_uri, <<"/auth/github/callback">>},
      {scope, <<>>},
      {authorize_uri, <<"https://github.com/login/oauth/authorize">>},
      {token_uri, <<"https://github.com/login/oauth/access_token">>}
    ]},
    {<<"google">>, [
      {client_id, <<"440647648374.apps.googleusercontent.com">>},
      {client_secret, <<"3HZtnxktK7WCETr_wyAdDEN4">>},
      {callback_uri, <<"/auth/google/callback">>},
      {scope, << "https://www.googleapis.com/auth/userinfo.email ",
                 "https://www.googleapis.com/auth/userinfo.profile" >>},
      {authorize_uri, <<"https://accounts.google.com/o/oauth2/auth">>},
      {token_uri, <<"https://accounts.google.com/o/oauth2/token">>}
    ]},
    {<<"mailru">>, [
      {client_id, <<"701614">>},
      {client_secret, <<"d4976018ca82946247b32d9a718fbc21">>},
      {secret_key, <<"f431aea09762dbad13c2440955e12aee">>},
      {callback_uri, <<"/auth/mailru/callback">>},
      {scope, <<>>},
      {authorize_uri, <<"https://connect.mail.ru/oauth/authorize">>},
      {token_uri, <<"https://connect.mail.ru/oauth/token">>}
    ]},
    {<<"paypal">>, [
      {client_id, <<"3305edbf3ba18279fc928aa1e89a340e">>},
      {client_secret, <<"417477089db3095d">>},
      {callback_uri, <<"/auth/paypal/callback">>},
      {scope, <<"https://identity.x.com/xidentity/resources/profile/me">>},
      {authorize_uri, <<"https://identity.x.com/xidentity/resources/authorize">>},
      {token_uri, <<"https://identity.x.com/xidentity/oauthtokenservice">>}
    ]},
    {<<"vkontakte">>, [
      {client_id, <<"3473116">>},
      {client_secret, <<"kvIMB0GcmGeI2mfcJF8c">>},
      {callback_uri, <<"/auth/vkontakte/callback">>},
      {scope, <<"uid,first_name,last_name,sex,photo">>},
      {authorize_uri, <<"https://oauth.vk.com/authorize">>},
      {token_uri, <<"https://oauth.vk.com/access_token">>}
    ]},
    {<<"yandex">>, [
      {client_id, <<"f44bd59ddfbe408ab1d29151126385a6">>},
      {client_secret, <<"f2b74a771114473e9f505c648b249997">>},
      {callback_uri, <<"/auth/yandex/callback">>},
      {scope, <<>>},
      {authorize_uri, <<"https://oauth.yandex.ru/authorize">>},
      {token_uri, <<"https://oauth.yandex.ru/token">>}
    ]},
    {<<"loginza">>, [
      {id, <<"52001">>},
      {secret, <<"4e78bf1e3cce0d799c32d6bb93e79465">>}
    ]}
  ]}

]}

].
